@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Red Hat Display', sans-serif;
}
body {
    margin: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    
}
.container {
    width: 350px;
    height: 500px;
    background-color: #fff;
    border-radius: 8px;
    padding: 25px 30px 30px 30px;
}
.iconActive { 
    width: 100%;
    border-radius: 30px;
}
.iconActive img {
    padding: 0px;
    width: 100%; 
    border-radius: 10px; 
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    font-weight: 900;
}


.title span{
    color: black;
    font-weight: 900;
    font-size: 20px; 
   
} 

.podcasts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-left: 25px;
    
  
}  
.podcasts span {
    color: rgb(153, 152, 152);
     /* font-size: medium; */
     font-weight: 500;
     text-align: center;
}

.icon-music {
    width: 80%;
    margin: 0 auto 20px auto;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    border-radius: 8px;
}
.icon-music strong {
    font-weight: 900;
}

.planAtual{
    display: flex;
    align-items: center;
    background-color:#fff;
    flex: 2;
    gap: 10px;
}
.planAtual .price{
    color: rgb(158, 158, 158);
    font-weight: 600;
}


.changeBtn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color:#fff;
    font-weight: 900;
    font-size: 13px;
    flex: 1;
    cursor: pointer;
}
.proceed{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.proceed button{
    width: 100%;
    margin: auto;
    padding: 15px 15px ;
    color: #fff;
    background-color: blue;
    border-radius: 10px;
    cursor: pointer;

}

.cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: 600;
    color: rgb(83, 83, 83);
    cursor: pointer;
    padding: 10px;

}













 /*body {
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
     background-color: brown; 

}
.container {
    width: 300px;
    height: 450px;
    padding: .2rem;
    box-shadow: 5px 5px 8px #fff;
    border-radius: 8px;

}
.container .imgArea {
    width: 200px;
    height: 200px;
    margin-bottom: .1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; 
}
.active {
    position: absolute;
    background-color: #fff;
    width: inherit;
    height: inherit;
    border-radius: 8px;
    
    
    
}
 .container .iconActive {
    width: inherit;
    height: inherit;
    border-radius: 8px;
} 
.iconActive img{
    width: inherit;
    height: inherit;
    border-radius: inherit;
} 
.imgArea:hover .active {
    display: flex;
    transition: all 0.3s linear;

}
.container .title span{
    color: black;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;

}
.container .title span:hover{
    color: #2ee2e0;
}
.podcasts {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.podcasts span {
    color:#5e7796;
    width: 100%;
    font-size: .9rem;
} */